:root{
    --backgroundcolor:#282727;
    --focus:#3fd960;
    --shadow:#050605;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif !important;
    background-color: var(--backgroundcolor);
    color:white;
    text-shadow: 4px 3px 2px var(--shadow);
    min-width: 300px;
}
body {
    min-width: 455px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* background-image: url('empafondo.jpg'); */
}
#container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    min-width: 455px;
}
#header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    outline: 2px solid black;
    padding: 5%;
}
h1{
    font-family: 'Orbitron', sans-serif;
    font-size:2.5rem;
    text-shadow: 4px 3px 4px #3fd96082;
}
h4{
    font-family: 'Orbitron', sans-serif; 
    margin:0;
    font-weight: 400;
}
#main{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    text-align: center;
    outline: 2px solid black; 
}
#pantalla-1{
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 15% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pregunta{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-family: 'Chakra Petch', sans-serif;
    padding: 50px 0;
}
.pregunta div {
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-around;
    padding: 20px 0;
}
.pregunta .minimo{
    font-size: 1.2rem;
}
input.number{
    border: none;
    background-color: transparent;
    color: var(--focus);
    width: 65px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 4px 3px 2px var(--shadow);
}

input.number:focus{
 outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.contador {
    min-width: 165px;
}
.mas, .menos{
    height: 30px;
    width: 30px;
    border-radius: 20%;
    border: none;
}
.menos:active, .mas:active {
    background-color: var(--focus);
}
div#user {
    display: flex;
    margin: auto;
    padding: 20px;
}
.div-button{
    margin:10% 0
}
.button-sig {
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    font-family: 'Orbitron';
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #3fd960;
    color: var(--backgroundcolor); 
 }

#seleccion{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 10% 0;
}
.nombre{
    padding: 0 5px
 }
 #nombre{
    color: var(--focus);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--shadow);
    font-family: 'Orbitron';
    letter-spacing: 1px;
    outline: none;
    font-size: 1.2rem;
    width: 200px;
 }
 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
   border: 1px solid var(--backgroundcolor);
   -webkit-text-fill-color: var(--focus);
   -webkit-box-shadow: 0 0 0px 1000px var(--backgroundcolor) inset;
   transition: background-color 5000s ease-in-out 0s;
}
ul {
    padding: 5% 0;
}

li {
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    align-items: center;
}
li span, div span{
    display: flex;
    align-items: center;
}
span.button-sig-2 {
    padding-bottom: 25px;
}


#resumen{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 10% 0;
}
 
