:root{
    --backgroundcolor:#282727;
    --focus:#3fd960;
    --shadow:#271828;
    --border: #cf27af;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif !important;
    background-color: var(--backgroundcolor);
    color:white;
    text-shadow: 4px 3px 2px var(--shadow);
    

}
body {
    min-width: 300px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('empafondo1.png');
    background-size:cover;
}
#border{
    width: 80%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-width: 600px;
    
    margin: auto;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe;
    animation: pulsate 1s infinite alternate;  
}
#container{
    height: 100%;
    display: grid;
}
#header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid #9b71948a;
    padding: 5%;
    background: var(--backgroundcolor);
    
}
@keyframes pulsate {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        box-shadow:
        0 0 4px #fff,
        0 0 1px #fff, 
        0 0 9px #fff, 
        0 0 0px var(--border), 
        0 0 0px var(--border), 
        0 0 0px var(--border), 
        0 0 10px var(--border), 
        0 0 150px var(--border)
    
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
}

h1{
    font-family: 'Orbitron', sans-serif;
    font-size:4rem;
    text-shadow: 4px 0px 0px #3fd960a3;
    transition: 1s;
}
@media (min-width: 645px) {
    #pantalla-1{
        justify-content: space-evenly;
    }

}
@media (max-width: 645px) {
    h1{
        font-size: 350%;
    }
    h4{
        display: none;
    }
}
    @media (max-width: 600px) {
        h1{
            font-size: 350%;
        }
        
        #pantalla-1{
            justify-content: normal
            ;
    
        }
}
h4{
    font-family: 'Orbitron', sans-serif; 
    margin:0;
    font-weight: 340%;
}
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    
    overflow: auto;
    text-align: center;
    background-color: var(--backgroundcolor); 
}
#pantalla-1{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;;
}
.pregunta{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 95px ;
}
.pregunta div {
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-around;
    padding: 20px 0;
}
.pregunta .minimo{
    font-size: 1.2rem;
}
input.number{
    border: none;
    background-color: transparent;
    color: var(--focus);
    width: 65px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 4px 3px 2px var(--shadow);
}

input.number:focus{
 outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.contador {
    min-width: 165px;
}
.mas, .menos{
    height: 30px;
    width: 30px;
    border-radius: 20%;
    border: none;
}
.menos:active, .mas:active {
    background-color: var(--focus);
}
div#user {
    display: flex;
    margin: auto;
    padding: 20px;
}
.div-button{
    margin:10% 0
}
.button-sig {
    cursor: pointer;
    display: flex;
    margin: 10px auto;
    font-family: 'Orbitron';
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #3fd960;
    color: var(--backgroundcolor); 
 }

#seleccion{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 10% 0;
}
.nombre{
    padding: 0 5px
 }
 #nombre{
    color: var(--focus);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--shadow);
    font-family: 'Orbitron';
    letter-spacing: 1px;
    outline: none;
    font-size: 1.2rem;
    width: 200px;
 }
 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
   border: 1px solid var(--backgroundcolor);
   -webkit-text-fill-color: var(--focus);
   -webkit-box-shadow: 0 0 0px 1000px var(--backgroundcolor) inset;
   transition: background-color 5000s ease-in-out 0s;
}
ul {
    padding: 5% 0;
}

li {
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    align-items: center;
}
li span, div span{
    display: flex;
    align-items: center;
}
span.button-sig-2 {
    padding-bottom: 25px;
}


#resumen{
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin: auto;
    padding: 10% 0;
}
 
